{% extends 'blog/base.html' %}

{% block content %}
   <div class="cv">
      <h2>Work Experience</h2>
      {% for work in work_experiences %}
         {{ work }}
      {% endfor %}

      <h2>Education</h2>

      <h2>Projects</h2>

      <h2>Skills</h2>
      
      <div class="date">
           
      </div>

      <!--{% if user.is_authenticated %}
         <a class="btn btn-default" href="{% url 'cv_edit' %}"><span class="glyphicon glyphicon-pencil"></span></a>
      {% endif %}-->
   </div>
{% endblock %}