{% extends 'blog/base.html' %}

{% block content %}
   <h1>CV Components Overview</h1>
   <div>
      <h2>Work Experience <a href="{% url 'cv_add' sub='work' %}">[+]</a></h2>
      {% for work in work_experiences %}
         <h4>
            <a href="{% url 'cv_edit' sub='work' pk=work.pk %}">{{ work }}</a>
            <a href="{% url 'cv_delete' sub='work' pk=work.pk %}">[-]</a>
         </h4>
      {% endfor %}

      <h2>Projects <a href="{% url 'cv_add' sub='project' %}">[+]</a></h2>
      {% for project in projects %}
         <h4>
            <a href="{% url 'cv_edit' sub='project' pk=project.pk %}">{{ project }}</a>
            <a href="{% url 'cv_delete' sub='project' pk=project.pk %}">[-]</a>
         </h4>
      {% endfor %}

      <h2>Skills <a href="{% url 'cv_add' sub='skill' %}">[+]</a></h2>
      {% for skill in skills %}
         <h4>
            <a href="{% url 'cv_edit' sub='skill' pk=skill.pk %}">{{ skill }}</a>
            <a href="{% url 'cv_delete' sub='skill' pk=skill.pk %}">[-]</a>
         </h4>
      {% endfor %}

      <h2>Education <a href="{% url 'cv_add' sub='edu' %}">[+]</a></h2>
      {% for edu in education %}
         <h4>
            <a href="{% url 'cv_edit' sub='edu' pk=edu.pk %}">{{ edu }}</a>
            <a href="{% url 'cv_delete' sub='edu' pk=edu.pk %}">[-]</a>
         </h4>
      {% endfor %}
   </div>
{% endblock %}